<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PantiltLeftServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltLeftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PantiltAzimuteServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltAzimuteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PantiltElevacaoServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltElevacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PantiltGravacaoServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltGravacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarGravacaoServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.IniciarGravacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PararGravacaoServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PararGravacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LigarCameraServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.LigarCameraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesligarCameraServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.DesligarCameraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarVideoServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.IniciarVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PararVideoServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PararVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarImagemServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.BuscarImagemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltLeftServlet</servlet-name>
        <url-pattern>/PantiltLeftServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PantiltRightServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltRightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltRightServlet</servlet-name>
        <url-pattern>/PantiltRightServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PantiltUpServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltUpServlet</servlet-name>
        <url-pattern>/PantiltUpServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PantiltDownServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltDownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltDownServlet</servlet-name>
        <url-pattern>/PantiltDownServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PantiltResetServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltResetServlet</servlet-name>
        <url-pattern>/PantiltResetServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantiltAzimuteServlet</servlet-name>
        <url-pattern>/PantiltAzimuteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantiltElevacaoServlet</servlet-name>
        <url-pattern>/PantiltElevacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantiltGravacaoServlet</servlet-name>
        <url-pattern>/PantiltGravacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarGravacaoServlet</servlet-name>
        <url-pattern>/IniciarGravacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PararGravacaoServlet</servlet-name>
        <url-pattern>/PararGravacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LigarCameraServlet</servlet-name>
        <url-pattern>/LigarCameraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesligarCameraServlet</servlet-name>
        <url-pattern>/DesligarCameraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarVideoServlet</servlet-name>
        <url-pattern>/IniciarVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PararVideoServlet</servlet-name>
        <url-pattern>/PararVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarImagemServlet</servlet-name>
        <url-pattern>/BuscarImagemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
