<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PantiltLeftServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltLeftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltLeftServlet</servlet-name>
        <url-pattern>/PantiltLeftServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PantiltRightServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltRightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltRightServlet</servlet-name>
        <url-pattern>/PantiltRightServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PantiltUpServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltUpServlet</servlet-name>
        <url-pattern>/PantiltUpServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PantiltDownServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltDownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltDownServlet</servlet-name>
        <url-pattern>/PantiltDownServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PantiltResetServlet</servlet-name>
        <servlet-class>br.leona.servidor.servlet.PantiltResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantiltResetServlet</servlet-name>
        <url-pattern>/PantiltResetServlet/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
